*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: lightgrey;
    padding : 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

input[type = "text"],
input[type = "email"],
input[type = "number"],
input[type = "password"],
input[type = "date"],
select,
textarea{
      width: 100%;
      padding: 12px;
      border: 1px solid lightgrey;
      border-radius: 5px;
      margin: 10px;
}

fieldset{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.main_heading{
    text-align: center;
}

input[type = "submit"]{
    background-color: aquamarine;
    color: crimson;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type = "submit"]:hover
{
    background-color: rgb(52, 211, 195);
}